* {
      margin: 0;
      padding: 0;
      font-family:Roboto, sans-serif;
  }
header,
footer {
width:100%;
height:auto;
padding-top:20px;
padding-bottom:20px;
background-color:darkslategray;
color:floralwhite;
}
h1,
h2 {
      text-align:center;
}
.image1 {
      display:block;
      padding-top:10px;
      padding-bottom:10px;
      height:50px;
      width:50px;
      border-radius: 50%;
      margin-left:auto;
      margin-right:auto;
}
.image2 {
      display:block;
      padding-top:10px;
      padding-bottom:10px;
      max-width:600px;
      margin-left:auto;
      margin-right:auto;
}
.image3 {
      display:block;
      padding-top:5px;
      padding-bottom:5px;
      max-width: 600px;
      margin-left:auto;
      margin-right:auto;
}
ul {
      padding-left:40px;
      font-size:14px;
      color:#3A506B;
}
p {
      text-align:center;
      font-size:20px;
      color:#e8edf3;
}
.card {
      width: 80%;
      margin: 40px auto;
      padding-top:10px;
      padding-bottom:10px;
      border: 5px solid gray;
      box-shadow: 5px 5px #CCC8C0;
    }
code {
      font-family:monospace;
      background-color:gainsboro;
}